@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
	overflow: hidden;
	background: linear-gradient(90deg, #26292C 0%, #2B353C 97.79%);
}

.container{
	position: absolute;
	width: 20.83vw;
	height: 69vh;
	top: 15vh;
	left: 6vw;
	background: #2C2F33;
	border: 0.183vw solid #FFFFFF;
	border-radius: 1.59vh;
	overflow: hidden;
}

.container:hover{
	box-shadow: 0 0 1.35vh rgba(255, 255, 255, 0.5); 
}

/* #container2{
	position: absolute;
	width: 20.83vw;
	height: 67.56vh;
	top: 15vh;
	left: 39vw;
	
}

#container3{
	position: absolute;
	width: 20.83vw;
	height: 67.56vh;
	top: 15vh;
	left: 70vw;
} */

.vehicle-overlay-image{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
	z-index:2;
    border-top-left-radius: 1.64vh;
    border-top-right-radius: 1.64vh;
}

.vehicle-image{
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;

    border-top-left-radius: 1.64vh;
    border-top-right-radius: 1.64vh;
}

.vehicle-info-container{
	position: relative;
    display: grid;
	justify-content: center;
	
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.4vh;
    grid-row-gap: 0.4vh;
	
    height: 35%;
    width: 100%;
	overflow: hidden;
}

.vehicle-info-block{
	display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
	font-family: 'Open Sans';
	font-weight: 700;
	justify-content: center;
	align-items: center;
	font-size: 1.0vw;
}

.info-title{
	color: #B9B9B9;
}

.info-data{
	color: #FFFFFF;
}

.vehicle-date-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 14%;
}

.vehicle-date-container p {
    font-size: 1.2vw;
    font-weight: 700;
	font-family: 'Open Sans';
    color: white;
	text-align: center;
}

.vehicle-btn-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100%;
	
    border-bottom-left-radius: 1.64vh;
    border-bottom-right-radius: 1.64vh;
}

.vehicle-top-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
	padding-bottom: 5%;
}

.vehicle-top-container a {
    padding: 0.8vh 1.8vh;
    border-radius: 0.8vh;

	font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.0vw;
    color: #FFFFFF;

    z-index: 1;
    transition: 0.1s;
}


.sell-button{
	background-color:#883131;
	border-radius:4px;
	border:1px solid #883131;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.0vw;
	padding:16px 31px;
	text-decoration:none;	
}

.sell-button:hover{
	background-color: #e64848;
	box-shadow: 0px 0.61vh 1.22vh #e6484883;
	color: #fff;
	transform: translateY(-0.2vh);
}

.photo-button{
	background-color:#275f34;
	border-radius:0.27vw;
	border:0.12vh solid #275f34;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.0vw;
	padding:1.96vh 2.15vw;
	text-decoration:none
}

.photo-button:hover{
	background-color: #2fa54a;
	box-shadow: 0px 0.61vh 1.22vh #29a1456b;
	color: #fff;
	transform: translateY(-0.2vh);
}

.spawn-button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 76%;

    padding: 0.8vh;
    border-radius: 0.8vh;
    border: none;
	cursor:pointer;
	
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.0vw;
    color: #FFFFFF;

    background-color: #30398a;
    z-index: 1;
    transition: 0.1s;
}

.spawn-button:hover{
	background-color: #3342ca;
	box-shadow: 0px 0.61vh 1.22vh #3342ca77;
	color: #fff;
	transform: translateY(-0.2vh);
}


#arrow-left{
	color: white;
	position: absolute;
	top: 40vh;
	left: 0;
	font-size: 3vw;
	padding-left: 1vw;
}

#arrow-right{
	color: white;
	position: absolute;
	top: 40vh;
	right: 0;
	font-size: 3vw;	
	padding-right: 1vw;
}

#arrow-left:hover{
	animation: glow 1s ease-in-out infinite alternate;
}

#arrow-right:hover{
	animation: glow 1s ease-in-out infinite alternate;
}

#double-arrow-left{
	color: white;
	position: absolute;
	top: 60vh;
	left: 0;
	font-size: 3vw;
	padding-left: 1vw;
}

#double-arrow-right{
	color: white;
	position: absolute;
	top: 60vh;
	right: 0;
	font-size: 3vw;	
	padding-right: 1vw;
}

#double-arrow-left:hover{
	animation: glow 1s ease-in-out infinite alternate;
}

#double-arrow-right:hover{
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
	  text-shadow: 0 0 0.34vw #fff, 0 0 0.69vw #fff, 0 0 1.04vw #403A3E,  #BE5869;
	}
	to {
	  text-shadow: 0 0 0.69vw #fff, 0 0 1.04vw#BE5869, 0 0 1.04vw #403A3E;
	}
}


.custom-select {
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;


	font-family: 'Open Sans';
	top: 5vh;
	left: 78.7vw;
}


select::-ms-expand {
	display: none;
}

select {

	outline: none;
	appearance: none;
	background-color: transparent;
	border: 0.1vh solid white;	
	border-radius: 4%;

	width: 15vw;
	padding: 1.2vh 0.8vw;
	font-size: 1.1vw;
	cursor: pointer;
	line-height: 1.1;
	background-color: white;
	color: black;
	font-family: 'Open Sans';
	font-weight: 600;
	
}

select.arrows {
    background-image: url('../img/arrows.png');
    background-position: calc(100% - .50vh), 100% 0;
    background-repeat: no-repeat;
    background-size: 2.5vh;
}

select::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

select::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px #30398A;
	background-color: #30398A;
}
